.button {
  background-color: #1E083B;
  color: #FFF;
  border: 0.4rem solid #231C69;
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  transform: scale(1.05);
  
}