.home-header {
  padding: 2rem;
  margin-bottom: 4rem;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 8rem);
  text-align: center;
}

.home-main > .title {
  margin-bottom: 4rem;
}

.home-main > .container {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 90rem;
  font-size: 2.8rem;
  line-height: 1.2em;
  text-align: center;
}