.home-header {
  padding: 2rem;
  margin-bottom: 4rem;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 8rem);
  text-align: center;
}

.home-main > .title {
  margin-bottom: 4rem;
}