@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  height: 32px;
  width: 32px;
  background: transparent;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.wrapper:before {
  content: "";
  display: block;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, #fbbe23 50%, rgba(255, 255, 255, 0) 100% );
  height: 50px;
  width: 30px;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translate(0);
  transform-origin: top center;
  animation: rotate 3s linear infinite;
}

.goat-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 28px;
  border: 1px solid #f4e6c4;
  padding: 0 8px;
  border-radius: 4px;
  gap: 4px;
  margin-left: 6px;
  font-size: 14px
}

.goat-img-wrapper img {
  height: 20px;
}